// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

body {
    --pink: #FF1C68;
    --green: #14D790;
    --blue: #198FE3;
    --white: #fff;
    background: var(--white);
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .pen {
    flex: 1 1 100%;
  }
  
  
    
   
  
  .pen {
    position: relative;
  }
  
  .sidepanel {
      width: 300px;
    height: 100vh;
    background: #eee;
    padding: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .item {
      background: #43415F;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    opacity: 0;
    margin-bottom: 10px;
    
    color: white;
    
    &:nth-child(1) {
      background: #F69A9A;
    }
}